@import '../global';


.posts-wrapper{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 100px;
    background-color: $primary;
    padding: 5px;
    max-width: 400px;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    #content{
        font-family: $family-sans;
        font-size: $sub-title;
        font-weight: $font-mid;
        p{
            font-family: $family-serif;
            font-size: $body;
            font-weight: $font-reg;
            color: $black;
        }
    }
}
