@import '../global';


.posts{
        max-width: 50%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: $accent;
        padding: 5px 2px;
        .content{
            font-size: $sub-title;
            font-weight: $font-mid;
            p{
                font-family: $family-serif;
                font-size: $body;
                font-weight: $font-reg;
            }
        }
    }
