@import '../global';


.home-header{
    width: 100%;
    height: 250px;
    display: flex;
    place-items: center;
    .home-h-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        #logo-container{
            text-align: center;
            font-family: $family-sans;
            h1{
                font-size: $title;
            }
        }
        #content-wrapper{
            background-color: $accent;
            padding: 10px;
            font-family: $family-serif;
            font-size: $body;
            font-weight: $font-reg;
            text-align: left;
            margin: auto;
        }
    }
}