@import '../global';

.nav-wrapper{
    width: 100%;
    height: 50px;
    display: flex;
    background-color: $accent;
    ul{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 0;
        list-style: none;
        li{
            font-family: $family-sans;
            font-weight: $font-reg;
            color: $secondary;
        }
    }
}