.card{
    width: 1000px;
    height: 300px;
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    border-radius: 5px;
    border-bottom-right-radius: 80px;
    background-color: var(--primary);
    padding: 20px;
    margin-bottom: 20px;
    color: var(--secondary);
    transition: box-shadow 1s ease-out .3s;
    position: relative;
    z-index: 2;
    &:hover{
        //change blur radius(3rd one) to 0 to get solid shadow
        box-shadow: 10px 10px 84px -3px var(--secondary);
    }
}

.card h3{
    font-size: 50px;
}

.blog-image{
    position: relative;
    height: 150px;
}


