.card{
    width: 400px;
    height: 700px;
    border-radius: 5px;
    background-color: var(--primary-light);
    &:hover{
        box-shadow:  3px 6px 4px rgba(70, 86, 118, 0.25);
    }
}

.card-small{
    width: 100px;
    height: 50px;
    border-radius: 5px;
    background-color: var(--primary-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover{
        box-shadow:  3px 6px 4px rgba(70, 86, 118, 0.25);
    }
}
