.card{
    width: 1000px;
    height: 300px;
    border-radius: 5px;
    border-bottom-right-radius: 80px;
    background-color: var(--primary);
    padding: 20px;
    margin-bottom: 20px;
    color: var(--secondary);
    transition: box-shadow 1s ease-out .3s;
    &:hover{
        //change blur radius(3rd one) to 0 to get solid shadow
        box-shadow: 10px 10px 84px -3px var(--secondary);
    }
}




