html{
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    padding: 0;
    margin: 0;
    font-family: var(--font-josefin);
    background-color: var(--primary-light);
}

body::-webkit-scrollbar {
  width: 10px;
}
 
body::-webkit-scrollbar-track {
//   box-shadow: outset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  outline: none;
  border-radius: 7px 7px;

}

ul{
    margin: 0px 0px;
    padding: 0px 0px 0px 0px;
}