:root{
    --primary: hsl(0, 79%, 72%);
    --primary-dark: hsl(358, 42%, 50%);
    --primary-light: hsl(6, 100%, 94%);
    --secondary: hsl(3, 14%, 30%);
    --secondary-light: hsl(2, 17%, 70%);
    --white-surface: hsl(6, 100%, 94%);
    --white-bg: hsl(41, 85%, 95%);
    --light-text1: hsl(288, 13%, 30%);
    --light-text2: hsl(210, 13%, 53%);
    --black-bg: hsl(0, 7%, 3%);
    --accent: hsl(73, 60%, 28%);
    --accent-light: hsl(72, 35%, 49%);
    --grad-one: linear-gradient(to right,hsl(0, 79%, 72%), hsl(339, 48%, 62%));
    --grad-two: linear-gradient(to right,hsl(0, 79%, 72%), hsl(290, 40%, 58%));
}
//dark bg
//dark text1&2
//dark surface
//dark gradients

