@import './global';


.blogpost-wrapper{
    padding: 10px;
    article{
        padding: 10px 1px 70px 1px;
        font-family: $family-serif;
        font-size: $body;
        font-weight: $font-reg;
        color: $black;
    }
}


